<!-- <div>
  <li *ngFor="let item of ponies; let a = even" [style.color]=" a ? 'green' : '' ">
    {{ item.name }}
  </li>
</div> -->

<select (change)="switchLang($event)">
  <option *ngFor="let lang of translate.langs" [value]="lang" [selected]="lang === translate.currentLang">{{lang}}
  </option>
</select>

{{ 'test' | translate}}

<hr [ngStyle]="{ marginBottom: '100px'}">

<app-test-form></app-test-form>


<hr>

<!-- <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
  ">
  <app-auth-form (submited)="loginUser($event)">
    <h3>Create login</h3>
    <app-remember (checked)="changeRemember($event)"></app-remember>
    <button>Sign up</button>
  </app-auth-form>
  <div>
    <label for="creditCard">
      <input type="text" name="creditCard" placeholder="Enter your 16-digit card number" creditCard />
    </label>
  </div>
</div> -->
<div class="number2" (click)="refresh()">
  <button class="btn">Refresh</button>
  <ng-template ngFor let-user [ngForOf]="users" [ngForTrackBy]="trackByFunc">
    <li>
      {{ user.name }}
    </li>
  </ng-template>
  <!-- <ol>
    <li *ngFor="let user of users; trackBy: trackByFunc">
      {{ user.name }}
    </li>
  </ol> -->
</div>

<div class="number" colorDir [number]="number" [dividedBy]="5">
  {{ number }}
</div>

<hr />

<button (click)="checkCookie()">Check cookie</button>

<hr />

<input type="checkbox" name="" id="" (change)="handleChange($event)" />