<div class="cont" *ngIf="!moviesDownloaded">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>Loading...</div>
</div>
<slider [movies]="tvAnimation.slice(0, 6)" [isBanner]="true"></slider>
<items-banner
  (handleRemove)="handleRemoveAnime($event)"
  linkName="tvshow/"
  [movies]="tvAnimation"
>
  <h2>Anime</h2>
</items-banner>
<items-banner
  (handleRemove)="handleRemoveMovies($event)"
  linkName="movie/"
  [movies]="trendingMovies"
>
  <h2>Trending Movies</h2>
</items-banner>
<items-banner
  (handleRemove)="handleRemoveTvShows($event)"
  linkName="tvshow/"
  [movies]="trendingTvShows"
>
  <h2>Trending TV Shows</h2>
</items-banner>
