<div *ngIf="!downloaded" class="text-center">Loading...</div>
<ng-container *ngIf="movie">
  <slider [movies]="[movie]"></slider>
  <p-tabView class="tabview">
    <p-tabPanel header="Overview">
      <overview [item]="movie"></overview>
      <credts [credits]="credits"></credts>
    </p-tabPanel>

    <p-tabPanel header="Videos">
      <div class="grid">
        <ng-container *ngIf="movieVideos">
          <ng-container *ngFor="let item of movieVideos.results.slice(0, 3)">
            <div class="col-12 md:col-4 lg:col-4">
              <app-video [key]="item.key" [site]="item.site"></app-video>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Photos">
      <div class="grid">
        <ng-container *ngIf="moviePhotos">
          <ng-container *ngFor="let item of moviePhotos.backdrops">
            <div class="col-12 md:col-4 lg:col-4">
              <p-image
                [src]="imageSize.MEDIUM_SIZE + item.file_path"
                alt="Image"
                width="100%"
                [preview]="true"
              >
                <ng-template pTemplate="indicator">
                  <i class="pi pi-eye"></i> </ng-template
              ></p-image>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </p-tabPanel>
  </p-tabView>
</ng-container>
